/*Color Classes*/
.red{
  background-color: #FF4136;
  color: white;
}
.orange{
  background-color: #FF851B;
  color: white;
}
.yellow{
  background-color: #FFDC00;
  color: white;
}
.green{
  background-color: #2ECC40;
  color: white;
}
.blue{
  background-color: #0074D9;
  color: white;
}
.purple{
  background-color: #B10DC9;
  color: white;
}
.navy{
  background-color: #001f3f;
  color: white;
}
.maroon{
  background-color: #85144b;
  color: white;
}
.lime{
  background-color: #01FF70;
  color: white;
}
.teal{
  background-color: #39CCCC;
  color: white;
}
.gray{
  background-color: #AAAAAA;
  color: white;
}
.olive{
  background-color: #3D9970;
  color: white;
}


.btn{
  opacity: 0.8;
}
.btn:hover{
  opacity: 1;
  color: white;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#sequence{
  color: black;
  font-size: 2.5em;
}

p{
  font-size: 5em;
}

.numButton{
  font-size: 3em;
  border: 1em;
}
h1{
  font-size: 5em;
}

.nonNum{
  margin-bottom: 1em;
  position: relative;
}

body{
 background-image: url("WhiteBackground.png");
 color: black;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 min-height: 800px;
}

/*ANIMATIONS*/
.fallDown {
  animation: fallDown .7s linear, fadeIn .4s ease-in;
}

@keyframes fallDown{
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}
@keyframes fadeIn{
  from {opacity:0;}
  to {opacity:1;}
}
